.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 120%;
}
.App1 {
  text-align: center;
  background: #a1a1a185;
  color: white;
  padding: 0em;
  border-radius: 15px;
  width: 70%;
  /* max-width: 420px; */
  margin: 1em;
}
.Title {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #0000006b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}
.addevent {
  top: 50%;
  color: rgb(8, 0, 0);
  border: none;
  border-radius: 10px;
  margin-right: 20px;
}
.rbc-today {
  background-color: #000000b7;
}
.Start {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #0000006b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: 150px;
}
.End {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #0000006b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: 150px;
}
.rbc-off-range-bg {
  background: #fffdfd81;
}
.rbc-button-link {
  color: #000000bd;
}
