.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10;
  width: 400px;
  padding: 10px;
  border: 5px solid rgb(78, 76, 76);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 0;
}
/* .form-control {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
} */
h1 {
  color: black;
  text-align: center;
}
.fivex {
  float: right;
  border: none;
  background: none;
  color: rgb(179, 54, 54);
  margin: auto;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.Save {
  border: none;
  background: none;
  color: green;
  margin: auto;
  width: 100px;
  display: block;
}
/* list style type none removes bullets */
li {
  list-style-type: none;
  border: 1px solid #ddd;
}
