.Green {
  border-radius: 100%;
  background-color: green;
  height: 25px;
  width: 25px;
  margin: 5px;
  color: #333;
  box-shadow: -3px 3px black, -2px 2px black, -1px 1px black;
  border: 1px solid black;
}
.Yellow {
  border-radius: 100%;
  background-color: yellow;
  height: 25px;
  width: 25px;
  margin: 5px;
  color: #333;
  box-shadow: -3px 3px black, -2px 2px black, -1px 1px black;
  border: 1px solid black;
}
.Red {
  border-radius: 100%;
  background-color: red;
  height: 25px;
  width: 25px;
  margin: 5px;
  color: #333;
  box-shadow: -3px 3px black, -2px 2px black, -1px 1px black;
  border: 1px solid black;
}
.submitdiv {
  width: 100%;
  padding: 15px 10px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}
.list {
  background: #000000d0;
}
