.Opening {
  font-family: sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.opentitle {
  color: rgba(247, 136, 0, 0.99);
}
.list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.checked-item,
.not-checked-item {
  margin-left: 10px;
}
.checked-item {
  text-decoration: line-through;
}
.check {
  width: auto;
}
