body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5DcyBJQqoSROQRmIEZlis52mgvei1m1FdBw&usqp=CAU");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.card {
  background: #000000d0;
  padding: 2em;
  border-radius: 15px;
  width: 100%;
  max-width: 420px;
  margin: 2em;
  color: aliceblue;
  font-family: "Rowdies", cursive;
}
.serach {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 45px;
  width: 45px;
  outline: none;
  background-color: #7c7c7c2b;
  color: aliceblue;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
button:hover {
  background-color: #7c7c7c;
}

input {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 25px;
  background-color: #7c7c7c2b;
  color: aliceblue;
  font-family: inherit;
  font-size: 120%;
  transition: 0.2s ease-in-out;
}
